body,
#commandText {
  background-color:#002025
}

input {
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

* {
  font-size: 100%;
  font-family: monospace;
  color:#4AF626;
 }

 #terminal {
  background-color: #002025;
 }